In [1]:
import sys
sys.path.append('C:/Users/Alejandro/Proyectos/Tokioschool/Modulo_6/VoleyStats-Pro-run') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el bot√≥n de cookies.
Scraping exitoso

In [3]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Recepciones', 'Recepciones_exitosas',
                'Recepciones_fallidas', 'Recepciones_otro_jugador', 'Puntos_perdidos_recep',
                'Puntos_ganados_recep', 'Total_puntos_recep', 'Recep_Ranking', 12]

parametro= 'estadistica_libero'

libero = crear_df(datos[1],columna,parametro)
libero.drop([1,12], inplace=True, axis=1)
libero.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    19 non-null     object
 1   Partidos_jugados          19 non-null     object
 2   Sets_jugados              19 non-null     object
 3   Recepciones               19 non-null     object
 4   Recepciones_exitosas      19 non-null     object
 5   Recepciones_fallidas      19 non-null     object
 6   Recepciones_otro_jugador  19 non-null     object
 7   Puntos_perdidos_recep     19 non-null     object
 8   Puntos_ganados_recep      19 non-null     object
 9   Total_puntos_recep        19 non-null     object
 10  Recep_Ranking             19 non-null     object
dtypes: object(11)
memory usage: 1.8+ KB

In [4]:
normalizar_df(libero)

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking
0,Bouza Ferreiro Victor,1,3,9,0,4,0,6,3,22,"0,4091"
1,Masia Porres Arnau,15,49,150,27,8,16,46,72,319,"0,3354"
2,San Martin Rodriguez Alejandro,11,37,62,9,11,2,27,43,154,"0,3312"
3,Almansa Jorge,1,3,8,0,2,1,2,9,22,"0,3182"
4,Barrasa Portomene Samuel,8,17,32,5,0,2,20,21,80,"0,3125"
5,Piqueres Flor Nestor,15,51,155,18,21,27,59,110,390,"0,2821"
6,Piris Guiscafre Antoni,15,52,128,21,8,22,52,85,316,"0,2690"
7,Paradela Corton Miguel,13,40,75,11,7,10,46,64,213,"0,2535"
8,Gamiz Padilla Aharon,15,53,98,14,20,15,39,87,273,"0,2527"
9,Osado Carrasco Jose,15,57,115,20,17,17,30,120,319,"0,2445"
10,Fernandez Martinez Francisco Jose,14,47,82,20,18,3,52,71,246,"0,2398"
11,Dovale Fidalgo Mario,15,54,123,21,13,22,85,112,376,"0,2128"
12,Gallardo Hernandez Rodrigo,14,55,113,24,31,17,72,84,341,"0,2111"
13,Larranaga Ledo Unai,14,49,82,20,4,18,44,75,243,"0,1811"
14,Mengod Bautista Javier,11,38,55,14,34,10,54,73,240,"0,1292"
15,Aulisi Santiago Karim,5,20,27,12,17,4,16,32,108,"0,1019"
16,Iborra Ballester Hector,8,26,24,16,21,6,53,42,162,"0,0123"
17,Perez Figueroa Ezequiel,2,3,2,3,0,0,2,3,10,"-0,1000"
18,Gibanel Galmes Sebastia,1,1,1,2,0,0,3,2,8,"-0,1250"

In [5]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posicion,Altura,Ano_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Corton Miguel,Libero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Victor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024

In [6]:
liberos = pd.merge(libero, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
liberos['temporada'] = '2023-2024'
convertir = liberos.columns.difference(['Nombre','id_jugador','temporada','id_equipo'])
liberos['Recep_Ranking'] = liberos['Recep_Ranking'].str.replace(',', '.').astype(float)
liberos[convertir] = liberos[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
libero.info()
liberos.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 11 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    19 non-null     object
 1   Partidos_jugados          19 non-null     object
 2   Sets_jugados              19 non-null     object
 3   Recepciones               19 non-null     object
 4   Recepciones_exitosas      19 non-null     object
 5   Recepciones_fallidas      19 non-null     object
 6   Recepciones_otro_jugador  19 non-null     object
 7   Puntos_perdidos_recep     19 non-null     object
 8   Puntos_ganados_recep      19 non-null     object
 9   Total_puntos_recep        19 non-null     object
 10  Recep_Ranking             19 non-null     object
dtypes: object(11)
memory usage: 1.8+ KB

,Nombre,Partidos_jugados,Sets_jugados,Recepciones,Recepciones_exitosas,Recepciones_fallidas,Recepciones_otro_jugador,Puntos_perdidos_recep,Puntos_ganados_recep,Total_puntos_recep,Recep_Ranking,id_jugador,id_equipo,temporada
0,Bouza Ferreiro Victor,1,3,9,0,4,0,6,3,22,0.4091,2-2023-2024,1-2023-2024,2023-2024
1,Masia Porres Arnau,15,49,150,27,8,16,46,72,319,0.3354,71-2023-2024,6-2023-2024,2023-2024

In [9]:
liberos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 14 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Nombre                    19 non-null     object
 1   Partidos_jugados          19 non-null     int64
 2   Sets_jugados              19 non-null     int64
 3   Recepciones               19 non-null     int64
 4   Recepciones_exitosas      19 non-null     int64
 5   Recepciones_fallidas      19 non-null     int64
 6   Recepciones_otro_jugador  19 non-null     int64
 7   Puntos_perdidos_recep     19 non-null     int64
 8   Puntos_ganados_recep      19 non-null     int64
 9   Total_puntos_recep        19 non-null     int64
 10  Recep_Ranking             19 non-null     float64
 11  id_jugador                19 non-null     object
 12  id_equipo                 19 non-null     object
 13  temporada                 19 non-null     object
dtypes: float64(1), int64(9), object(4)
memory usage: 2.2+ KB

## Guardado en CSV.

In [10]:
liberos.to_csv('../../../data/2023-2024/liberos.csv', index=False)

## Base de datos.

In [7]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [8]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [10]:
dtype = {'id_jugador': Integer}
libero.to_sql('libero', engine, if_exists='append', index=False)

16