In [1]:
import sys
sys.path.append('C:/Users/Alejandro/Proyectos/Tokioschool/Modulo_6/VoleyStats-Pro-run') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro = 'estadistica_jugador'
datos=scraping(url,parametro)

hola
No se pudo hacer clic en el botón de cookies.
Scraping exitoso

In [3]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]

parametro= 'estadistica_receptor'
receptor= crear_df(datos[2],columna,parametro)
receptor.drop([1,17], inplace=True, axis=1)
receptor.head(5)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Calvo Leandro Omar,15,53,18,13,1,39,14,20,5,154,177,34,30,411,"2,0943"
1,Zonca Paolo,14,50,20,9,0,44,38,41,13,229,125,21,16,277,"1,9200"
2,Conde Barrios Lucas,13,49,11,6,0,19,9,39,12,155,165,22,24,340,"1,9184"
3,Schulz Max,14,51,24,12,0,46,10,52,9,160,197,39,43,439,"1,6667"
4,Rodríguez Pérez Víctor,14,47,27,32,1,89,15,37,8,186,142,20,21,292,"1,5532"

In [4]:
normalizar_df(receptor).head(5)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Calvo Leandro Omar,15,53,18,13,1,39,14,20,5,154,177,34,30,411,"2,0943"
1,Zonca Paolo,14,50,20,9,0,44,38,41,13,229,125,21,16,277,"1,9200"
2,Conde Barrios Lucas,13,49,11,6,0,19,9,39,12,155,165,22,24,340,"1,9184"
3,Schulz Max,14,51,24,12,0,46,10,52,9,160,197,39,43,439,"1,6667"
4,Rodriguez Perez Victor,14,47,27,32,1,89,15,37,8,186,142,20,21,292,"1,5532"

In [5]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df.head(5)

,Dorsal,Nombre,Posicion,Altura,Ano_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Corton Miguel,Libero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Victor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024
2,4,Linares Jose Luis,Opuesto,0.0,1998,0.0,0.0,3-2023-2024,2023-2024,1-2023-2024
3,5,Barrasa Portomene Samuel,Libero,0.0,2007,0.0,0.0,4-2023-2024,2023-2024,1-2023-2024
4,6,Edward Batalla Dexter,Colocador/a,0.0,2000,0.0,0.0,5-2023-2024,2023-2024,1-2023-2024

In [6]:
receptor = pd.merge(receptor, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
convertir = receptor.columns.difference(['Nombre', 'id_jugador','id_equipo'])
receptor['Ataque_Ranking'] = receptor['Ataque_Ranking'].str.replace(',', '.').astype(float)
receptor[convertir] = receptor[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
receptor['temporada']='2023-2024'
receptor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            27 non-null     object
 1   Partidos_jugados  27 non-null     int64
 2   Sets_jugados      27 non-null     int64
 3   Bloqueos          27 non-null     int64
 4   Bloqueo_exitoso   27 non-null     int64
 5   Bloqueo_fallido   27 non-null     int64
 6   Total_bloqueos    27 non-null     int64
 7   Saque             27 non-null     int64
 8   Errores_Saque     27 non-null     int64
 9   Porcentaje_error  27 non-null     int64
 10  Total_saques      27 non-null     int64
 11  Ataque_exitoso    27 non-null     int64
 12  Errores_ataque    27 non-null     int64
 13  Porc_error        27 non-null     int64
 14  Total_ataques     27 non-null     int64
 15  Ataque_Ranking    27 non-null     float64
 16  id_jugador        27 non-null     object
 17  id_equipo         27 non-null     object
 18  temporada         27 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 4.1+ KB

## Guardado en CSV.

In [7]:
receptor.to_csv('../../../data/2023-2024/receptor.csv', index=False)

## Base de datos.

In [8]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [ ]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:5432/'
conn = create_engine(str_conn)
engine = create_engine('postgresql://TradeOne:{pass_}@localhost:5432/volleyballDB')
receptor.to_sql('receptor', engine, if_exists='append', index=False, encoding='utf8')