In [4]:
import sys
sys.path.append('C:/Users/Alejandro/Proyectos/Tokioschool/Modulo_6/VoleyStats-Pro-run') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [5]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro = 'estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el bot√≥n de cookies.
Scraping exitoso

In [11]:
columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque',
                'Errores_Saque', 'Porcentaje_error', 'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error',
                'Total_ataques','Ataque_Ranking',2]

parametro= 'estadistica_central'

central = crear_df(datos[4],columna,parametro)
central.drop([1,2], inplace=True, axis=1)
normalizar_df(central)
central.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Macarro Tortajada Daniel,15,55,33,9,0,56,10,36,10,211,120,12,11,197,"1,7273"
1,Romani Leandro Gustavo,14,48,23,12,1,44,17,25,10,163,124,32,18,267,"1,5833"

In [12]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df.head(2)

,Dorsal,Nombre,Posicion,Altura,Ano_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Corton Miguel,Libero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Victor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024

In [13]:
central = pd.merge(central, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
central['temporada']='2023-2024'
central

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking,id_jugador,id_equipo,temporada
0,Macarro Tortajada Daniel,15,55,33,9,0,56,10,36,10,211,120,12,11,197,"1,7273",21-2023-2024,2-2023-2024,2023-2024
1,Romani Leandro Gustavo,14,48,23,12,1,44,17,25,10,163,124,32,18,267,"1,5833",48-2023-2024,4-2023-2024,2023-2024
2,Saxton Vigrass Graham,4,11,7,2,0,17,1,3,3,35,19,5,1,41,"1,4545",56-2023-2024,5-2023-2024,2023-2024
3,Mendez Jimenez Victor,11,40,33,26,1,80,0,12,4,144,71,7,7,131,"1,2750",117-2023-2024,9-2023-2024,2023-2024
4,Seybering David,14,57,31,32,0,97,9,26,4,171,110,7,14,192,"1,2456",28-2023-2024,3-2023-2024,2023-2024
5,Dos Santos Cezar Moises,14,56,40,44,0,107,5,22,4,138,112,15,14,199,"1,1071",86-2023-2024,6-2023-2024,2023-2024
6,Da Cruz Neto Walter,11,37,26,18,0,57,2,15,3,130,60,10,16,128,"0,7838",154-2023-2024,12-2023-2024,2023-2024
7,Ruiz Mira Borja,14,47,14,44,0,102,7,34,8,172,98,11,6,165,"0,5106",139-2023-2024,10-2023-2024,2023-2024
8,Tellez Rodriguez Axel,12,38,33,40,2,113,6,30,6,129,65,14,6,114,"0,3158",120-2023-2024,9-2023-2024,2023-2024
9,Allen Serrano Luis Vidal,14,40,17,44,0,90,6,20,1,100,72,13,13,139,"0,1250",144-2023-2024,11-2023-2024,2023-2024

In [14]:
convertir = central.columns.difference(['Nombre','id_jugador','id_equipo','temporada'])
central['Ataque_Ranking'] = central['Ataque_Ranking'].str.replace(',', '.').astype(float)
central[convertir] = central[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
central.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            10 non-null     object
 1   Partidos_jugados  10 non-null     int64
 2   Sets_jugados      10 non-null     int64
 3   Bloqueos          10 non-null     int64
 4   Bloqueo_exitoso   10 non-null     int64
 5   Bloqueo_fallido   10 non-null     int64
 6   Total_bloqueos    10 non-null     int64
 7   Saque             10 non-null     int64
 8   Errores_Saque     10 non-null     int64
 9   Porcentaje_error  10 non-null     int64
 10  Total_saques      10 non-null     int64
 11  Ataque_exitoso    10 non-null     int64
 12  Errores_ataque    10 non-null     int64
 13  Porc_error        10 non-null     int64
 14  Total_ataques     10 non-null     int64
 15  Ataque_Ranking    10 non-null     float64
 16  id_jugador        10 non-null     object
 17  id_equipo         10 non-null     object
 18  temporada         10 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 1.6+ KB

## Guardado en CSV.

In [15]:
central.to_csv('../../../data/2023-2024/central.csv', index=False)

## Base de datos.

In [5]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [6]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [7]:
dtype = {'id_jugador': Integer}
central.to_sql('central', engine, if_exists='append', index=False, dtype=dtype)

11