In [1]:
import sys
sys.path.append('C:/Users/Alejandro/Proyectos/Tokioschool/Modulo_6/VoleyStats-Pro-run') # Hablar con el jefe
from src.help_scraping import *
from src.help_datos import *

In [2]:
url = 'https://rfevb-web.dataproject.com/Statistics.aspx?ID=124&PID=152'
parametro='estadistica_jugador'
datos = scraping(url,parametro)

hola
No se pudo hacer clic en el bot√≥n de cookies.
Scraping exitoso

In [9]:

columna = ['Nombre', 1, 'Partidos_jugados', 'Sets_jugados', 'Bloqueos', 'Bloqueo_exitoso',
                'Bloqueo_fallido', 'Total_bloqueos', 'Saque','Errores_Saque', 'Porcentaje_error',
                'Total_saques', 'Ataque_exitoso','Errores_ataque','Porc_error','Total_ataques','Ataque_Ranking',17]
parametro= 'estadistica_opuesto'
opuesto = crear_df(datos[3],columna,parametro)
opuesto.drop([1,17], inplace=True, axis=1)
opuesto.head(2)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Dahl Ulrik Bo,14,56,40,50,25,243,17,22,0,45,270,51,52,590,"2,7143"
1,Martina Federico,15,47,4,6,2,115,11,19,1,50,168,11,24,322,"2,5957"

In [10]:
normalizar_df(opuesto)

,Nombre,Partidos_jugados,Sets_jugados,Bloqueos,Bloqueo_exitoso,Bloqueo_fallido,Total_bloqueos,Saque,Errores_Saque,Porcentaje_error,Total_saques,Ataque_exitoso,Errores_ataque,Porc_error,Total_ataques,Ataque_Ranking
0,Dahl Ulrik Bo,14,56,40,50,25,243,17,22,0,45,270,51,52,590,"2,7143"
1,Martina Federico,15,47,4,6,2,115,11,19,1,50,168,11,24,322,"2,5957"
2,Santos Cunha Bruno,15,56,16,39,16,218,20,27,2,83,250,33,42,533,"2,5536"
3,Linares Jose Luis,13,48,17,37,11,150,11,8,0,27,223,47,41,461,"2,4583"
4,Rodriguez Dosal Angel,15,60,32,44,13,242,20,14,0,50,294,81,60,651,"2,4500"
5,Nogueira Amorim Victor Lucas,13,47,12,37,6,139,18,3,0,24,188,41,34,365,"2,1915"
6,Neaves Matthew Michael,14,47,19,48,9,164,10,28,0,64,209,29,31,395,"2,1702"
7,Martinez Palacios Miguel Angel,14,44,3,21,5,123,21,16,1,60,148,37,22,327,"1,7045"
8,Pereyra Hernan Federico,4,13,2,7,5,35,7,6,0,17,44,6,13,89,"1,6154"
9,Bezerra Souza Francisco Wallyson,14,43,14,31,7,139,11,19,0,42,116,14,24,264,"1,2326"
10,Danger Mulen Armando,14,53,16,29,5,147,10,27,0,75,171,42,36,384,"1,1887"
11,Osorio Recorda Gerard,15,51,7,56,5,140,14,7,0,43,192,33,62,473,"1,0784"
12,Moreno Mosquera Juan Pablo,9,21,3,15,7,67,2,9,0,19,62,12,12,115,"0,9048"
13,Chourio Gonzalez Anderson Jose,4,6,0,0,0,9,1,1,0,8,5,4,5,18,"-0,6667"

In [11]:
#Extraccion de jugadores.
df= pd.read_csv('../../../data/2023-2024/Jugadores.csv')
df

,Dorsal,Nombre,Posicion,Altura,Ano_de_nacimiento,Alcance_en_ataque,Alcance_en_bloqueo,id_jugador,temporada,id_equipo
0,2,Paradela Corton Miguel,Libero,0.0,2004,0.0,0.0,1-2023-2024,2023-2024,1-2023-2024
1,3,Bouza Ferreiro Victor,Receptor,0.0,1990,0.0,0.0,2-2023-2024,2023-2024,1-2023-2024
2,4,Linares Jose Luis,Opuesto,0.0,1998,0.0,0.0,3-2023-2024,2023-2024,1-2023-2024
3,5,Barrasa Portomene Samuel,Libero,0.0,2007,0.0,0.0,4-2023-2024,2023-2024,1-2023-2024
4,6,Edward Batalla Dexter,Colocador/a,0.0,2000,0.0,0.0,5-2023-2024,2023-2024,1-2023-2024
...,...,...,...,...,...,...,...,...,...,...
163,15,Mari Domene Alvaro,Middle-blocker,198.0,2002,333.0,315.0,164-2023-2024,2023-2024,12-2023-2024
164,17,Martinez Gomez Sergio,Opuesto,190.0,2002,329.0,309.0,165-2023-2024,2023-2024,12-2023-2024
165,20,Hernandez Robeff Tomas Agustin,Receptor,190.0,1998,329.0,308.0,166-2023-2024,2023-2024,12-2023-2024
166,23,Jimenez Gallego Carlos,Receptor,193.0,1995,346.0,320.0,167-2023-2024,2023-2024,12-2023-2024
167,77,Fernandez Rodriguez Francisco,Receptor,0.0,1996,0.0,0.0,168-2023-2024,2023-2024,12-2023-2024

In [12]:
opuesto = pd.merge(opuesto, df[['Nombre', 'id_jugador','id_equipo']], on='Nombre', how='left')
opuesto['temporada']='2023-2024'
convertir = opuesto.columns.difference(['Nombre','id_jugador','id_equipo','temporada','Ataque_Ranking'])
opuesto['Ataque_Ranking'] = opuesto['Ataque_Ranking'].str.replace(',', '.').astype(float)
opuesto[convertir] = opuesto[convertir].applymap(lambda x: int(x) if str(x).isdigit() else x)
opuesto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Nombre            14 non-null     object
 1   Partidos_jugados  14 non-null     int64
 2   Sets_jugados      14 non-null     int64
 3   Bloqueos          14 non-null     int64
 4   Bloqueo_exitoso   14 non-null     int64
 5   Bloqueo_fallido   14 non-null     int64
 6   Total_bloqueos    14 non-null     int64
 7   Saque             14 non-null     int64
 8   Errores_Saque     14 non-null     int64
 9   Porcentaje_error  14 non-null     int64
 10  Total_saques      14 non-null     int64
 11  Ataque_exitoso    14 non-null     int64
 12  Errores_ataque    14 non-null     int64
 13  Porc_error        14 non-null     int64
 14  Total_ataques     14 non-null     int64
 15  Ataque_Ranking    14 non-null     float64
 16  id_jugador        14 non-null     object
 17  id_equipo         14 non-null     object
 18  temporada         14 non-null     object
dtypes: float64(1), int64(14), object(4)
memory usage: 2.2+ KB

## Guardado en CSV.

In [13]:
opuesto.to_csv('../../../data/2023-2024/opuesto.csv', index=False)

## Base de datos.

In [7]:
with open('../../../pass.txt', 'r') as file:   # pass.txt en .gitignore
    
    pass_ = file.read()

In [8]:
str_conn = f'mysql+pymysql://root:{pass_}@localhost:3306/'
conn = create_engine(str_conn)
engine = create_engine(f'mysql+pymysql://root:{pass_}@localhost:3306/volleyballdb')

In [9]:
dtype = {'id_jugador': Integer}
opuesto.to_sql('opuesto', engine, if_exists='append', index=False, dtype=dtype)

15